body {
  font-family: "Patua One", sans-serif;
  background-color: #d9e7ff;
  background-image: url("/images/trianglify.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 8px;
}

.container {
  width: 100%;
  min-height: calc(100vh - 16px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-icon {
  width: 100%;
  max-width: 420px;
  border-radius: 10%;
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.8);
}

h1 {
  color: #222;
  font-size: 48px;
  line-height: 1;
  margin-top: 12px;
  margin-bottom: 4px;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.8);
}

.coming-soon {
  font-size: 20px;
  line-height: 1;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.8);
  margin-bottom: 24px;
}

.download-icon {
  margin: 16px 8px;
  opacity: 0.25;
  cursor: not-allowed;
}

.play-now {
  display: block;
  text-align: center;
  color: #000;
  font-size: 24px;
  line-height: 1;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.8);
  margin-top: 24px;
}
